body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h2 {
  color: white
}

p {
  color:white;
}



.smurf-card {
  display: flex;
  width: 25%;
  flex-direction: column;
  background-color: blue;
  border: 10px solid lightblue; 
  margin: 3% auto;
  border-radius: 10px;
}

.smurf-card label {
  padding: 20px;
}

.smurf-card button {
  margin: 20px auto;
  width: 250px;
  background-color: lightblue;
}